//background colors
$base-color: #f9f9fb;
$bg-color: #212429;
$bg-color-dark: #131d1c;
$bg-color-light: #d7d7d7;
$header-border: #3c3c3c;

//post colors
$title-color: #212121;
$details-color: #999999;
$post-text-color: #464646;
$more-link-color: #212121;
$post-icon-color: #464646;

//fonts
$font-primary: Hind;
$font-secondary: Montserrat;

//page main color
$lost-color: #363636;
$contact-color: #424242;