.header{
  position: relative;
  width: 100%;
  min-height: 55px;
  background-color: $bg-color;

  @include break-min(tablet-l){ padding: 0 110px 0 55px; }
}

//Header page navigation menu
.header-menu{
  width: 100%;

  &__burger{
    position: absolute;
    top: 0;
    left: 0;
    @include size(55px, 55px);
    @include flex(row, center);
    @include border(solid, 0 1px 0 0, $header-border);
    cursor: pointer;

    @include break-min(tablet-l){
      left: 55px;
      width: 60px;
      @include border(solid, 0 1px 0 1px, $header-border);
    }
  }

  &__burger-line{
    position: relative;
    display: block;
    @include size(20px, 2px);
    background-color: #fff;
    pointer-events: none;
    cursor: pointer;

    &:before, &:after{
      position: absolute;
      content: '';
      display: block;
      @include size(20px, 2px);
      top: 5px;
      left: 0;
      background-color: #fff;
      transition: .3s ease;
    }

    &:after{
      top: -5px;
    }

    &.clicked{
      &:before{
        transform: translate(0, -5px);
        transition: .3s ease;
      }

      &:after{
        transform: translate(0, 5px);
        transition: .3s ease;
      }
    }
  }

  &__nav{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    min-height: 55px;
    @include flex(row, flex-start);
    @include border(solid, 1px 0 0 0, $header-border);
    background-color: $bg-color;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    padding-left: 20px;
    transition: .3s ease;

    @include break-min(tablet-l){
      width: calc(100% - 110px);
      left: 55px;
      border: 1px solid $header-border;
    }

    &.active{
      top: 55px;
      opacity: 1;
      visibility: visible;
      transition: .3s ease;
    }

    ul{
      display: flex;
      flex-wrap: wrap;
    }

    li{
      margin-right: 15px;

      @include break-min(mobile-m){ margin-right: 25px; }
    }

    a{
      @include font(14px, 400, #fff, $font-secondary);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}

//Header logo widget
.header-logo{
  @include flex(row, center);
  @include size(50%, 55px);
  max-width: calc(100vw - 140px);
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

//Header social-media icons menu
.header-nav{
  @include break-max(tablet-l){ @include border(solid, 1px 0 1px 0, $header-border); }

  @include break-min(tablet-l){
    position: absolute;
    top: 0;
    right: 110px;
  }

  &__sm{
    @include flex(row, center);

    li{
      @include flex(row, center);
      @include size(55px, 55px);

      @include break-max(tablet-l){
        @include border(solid, 0 1px 0 0, $header-border);

        &:first-child{
          @include border(solid, 0 1px 0 1px, $header-border);
        }
      }

      @include break-min(tablet-l){
        @include border(solid, 0 0 0 1px, $header-border);
      }
    }

    a{
      font-size: 0;
    }
  }

  svg{
    @include size(15px, 15px);
    @include hover-fill(darken($bg-color-light, 10%));
    fill: #fff;

    &.twitter{ @include size(14px, 14px); }
    &.rss{ @include size(13px, 13px); }
  }
}

//Search
.header-search{
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;

  @include break-min(tablet-l){ right: 55px; }

  &__icon{
    position: absolute;
    top: 0;
    right: 0;
    @include flex(row, center);
    @include size(55px, 55px);
    cursor: pointer;

    @include break-max(tablet-l){ @include border(solid, 0 0 0 1px, $header-border); }
    @include break-min(tablet-l){ @include border(solid, 0 1px 0 1px, $header-border); }

    &.clicked{
      &:before, &:after{
        position: absolute;
        content: '';
        @include size(20px, 2px);
        top: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        background-color: #fff;
        transform: translate(0, -50%) rotate(45deg);
      }

      &:after{
        transform: translate(0, -50%) rotate(-45deg);
      }

      svg{ display: none; }
    }

    svg {
      @include size(15px, 15px);
      @include hover-fill(grey);
      fill: #fff;
    }
  }

  &__form{
    position: absolute;
    display: flex;
    top: 65px;
    right: 0;
    @include size(100%, 55px);
    opacity: 0;
    z-index: 99;
    visibility: hidden;
    transition: .3s ease;

    @include break-min(tablet-l){ width: calc(100% - 110px);}

    &.active{
      top: 55px;
      opacity: 1;
      visibility: visible;
      transition: .3s ease;
    }
  }

  &__input{
    width: calc(100% - 55px);
    @include border(solid, 0 0 0 1px, $header-border);
    @include font(14px, 500, $details-color, $font-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $base-color;
    outline: none;
    padding-left: 15px;

    &:focus{
      border: 1px solid $bg-color-dark;
    }
  }

  &__btn{
    @include size(55px, 55px);
    @include border(solid, 1px 0 0 0, $header-border);
    @include font(14px, 500, #fff, $font-primary);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: $bg-color;
    outline: none;
    cursor: pointer;

    @include break-min(tablet-l){
      font-size: 16px;
      border: 1px solid $header-border;
    }
  }
}